<div class="profile-content" style="
	background-image: url(<%=@user.background%>); 
	background-repeat: no-repeat; 
	background-color: <%=@user.color%>">
	<!-- SIDE NAV -->

	<div class="student profile-side-nav" data="<%=@user.id%>">

	<!-- Image -->

		<div class="profile-image">
			<img class="profile-image" src="<%=@user.image_src%>">
			<br>
			<a class="image-edit-button" id="profile-image-edit-button" href="">Edit</a>
			<!-- edit form -->
			<div class="edit-form" id="profile-image-edit">
				<%= form_for @user do |f| %>
					<%= f.text_field :image_src %>
					<%= f.submit 'Update', class: "image-update-button" %>
				<% end %>
			</div>
		</div>

	<!-- Contact Links -->

		<div class="profile-contact">
		<a class="edit-button" id="profile-contact-edit-button" href="">Edit</a>
		<% if @user.city%><h4><%=@user.city%><%end%><% if @user.state%>, <%=@user.state%><%end%></h4>
			<ul>
				<li><a class="contact-link email" href="mailto:<%=@user.email%>">Email Me</a></li>
				<% if @user.website && @user.website != "" %><li><a class="contact-link website" href="<%=@user.website%>">My Website</a></li><%end%>
				<% if @user.twitter && @user.twitter != "" %><li><a class="contact-link twitter" href="<%=@user.twitter%>">Tweet Me</a></li><%end%>
				<% if @user.github && @user.github != "" %><li><a class="contact-link github" href="<%=@user.github%>">GitHub</a></li><%end%>
				<% if @user.linkedin && @user.linkedin != "" %><li><a class="contact-link linkedin" href="<%=@user.linkedin%>">LinkedIn</a></li><%end%>
				<% if @user.behance && @user.behance != ""%><li><a class="contact-link behance" href="<%=@user.behance%>">Behance</a></li><%end%>
			</ul>
			<!-- edit form -->
			<div class="edit-form" id="profile-contact-edit">
				<%= form_for @user do |f| %>
					<%= label_tag(:website, "Website link") %>
					<br>
					<%= f.text_field :website %>
					<br>
					<%= label_tag(:twitter, "Twitter link") %>
					<br>
					<%= f.text_field :twitter %>
					<br>
					<%= label_tag(:github, "Github link") %>
					<br>
					<%= f.text_field :github %>
					<br>
					<%= label_tag(:linkedin, "Linkedin") %>
					<br>
					<%= f.text_field :linkedin %>
					<br>
					<%= label_tag(:behance, "Behance") %>
					<br>
					<%= f.text_field :behance %>
					<br>
					<%= f.submit 'Update', class: "contact-update-button" %>
				<% end %>
			</div>
		</div>

		<div class="profile-options">
				<h4>Your Preferences </h4>
				<%= form_for @user do |f| %>
					<%= label_tag(:background, "Background Image") %>
					<br>
					<%= f.text_field :background %>
					<br>
					<%= label_tag(:color, " or Background Color") %>
					<br>
					<%= f.text_field :color %>
					<br>
					<%= f.submit 'Update', class: "prefs-update-button" %>
				<% end %>

			</div>
			<div class="profile-stats">
				<h4>Your Stats</h4>
					<p>Your page has been viewed</p>
					<h1><%=@user.clicked%></h1>
					<p>times.</p>
			</div>

	</div>

	<!-- MAIN AREA -->


	<div class="profile-main">


	<!-- User Basic Info -->

		<div class="profile-header">
			<a class="edit-button" id="profile-header-edit-button" href="">Edit</a>
			<h1><%= @user.f_name%> <%= @user.l_name%></h1>
			<h2><%= @user.role%> </h2>
			<h3><%=@user.bio%></h3>
			<!-- edit form -->
			<div class="edit-form" id="profile-header-edit">
				<%= form_for @user do |f| %>
					<%= label_tag(:f_name, "First Name") %>
					<br>
					<%= f.text_field :f_name %>
					<br>
					<%= label_tag(:l_name, "Last Name") %>
					<br>
					<%= f.text_field :l_name %>
					<br>
					<%= label_tag(:role, "Your Role") %>
					<br>
					<%= f.text_field :role %>
					<br>
					<%= label_tag(:bio, "About You") %>
					<br>
					<%= f.text_field :bio %>
					<br>
					<%= f.submit 'Update', class: "student-header-update-button" %>
				<% end %>
			</div>

		</div>

		<!-- Skills -->

		<div class="profile-skills">
			<h2>Skills</h2>
			<ul>
				<% @user.skills.each do |skill|%>
					<li><%=skill.name%></li>
				<%end%>
			</ul>
			<a class="skill-add-button" id="profile-skills-edit-button" href="">Add Skill</a>
			<!-- edit form -->
			<div class="add-form" id="profile-skills-edit">
				<%= form_for @user do |f| %>
					<%= label_tag(:skills, "Skill") %>
					<br>
					<%= f.text_field :skills, :value => "" %>
					<br>
					<%= f.submit 'Update', class: "skill-update-button" %>
				<% end %>
			</div>
		</div>

		<!-- Projects -->

		<div class="profile-projects">
			<h2>Projects</h2>
			<!-- add project form -->
			<div class="add-project">
				<a class="add-button" href="">Add Project</a>
				<div class="add-form" id="profile-project-add">
					<%= form_for @project, url: "/users/#{@user.id}/projects", html: {method: :post} do |f| %>
						<%= label_tag(:image_src, "Image Url") %>
						<br>
						<%= f.text_field :image_src %>
						<br>
						<%= label_tag(:title, "Project Title") %>
						<br>
						<%= f.text_field :title %>
						<br>
						<%= label_tag(:desc, "Description") %>
						<br>
						<%= f.text_field :desc %>
						<br>
						<%= label_tag(:website, "Project Website") %>
						<br>
						<%= f.text_field :website %>
						<br>
						<%= f.submit 'Create', class: "project-create-button" %>
					<% end %>
				</div>
			</div>
			<!-- Where new projects are appended -->
			<div class="new-project"></div>
			<!-- Rendering of projects in the database -->
			<% @user.projects.each do |project| %>
				<div class="project" data="<%=project.id%>">
					<a class="edit-button"  href="">Edit</a>
					<br>
					<img class="project-image" src="<%=project.image_src%>">
					<h3><%= project.title%></h3>
					<p><%= project.desc%></p>
					<a class="read-more" href="<%=project.website%>">Read More</a>
					<br>
					<br>
					<!-- edit form -->
					<div class="edit-form" id="profile-project-edit">
						<%= form_for project, url: "/users/#{@user.id}/projects/#{project.id}", html: {method: :patch} do |f| %>
							<%= label_tag(:image_src, "Image Url") %>
							<br>
							<%= f.text_field :image_src %>
							<br>
							<%= label_tag(:title, "Project Title") %>
							<br>
							<%= f.text_field :title %>
							<br>
							<%= label_tag(:desc, "Description") %>
							<br>
							<%= f.text_field :desc %>
							<br>
							<%= label_tag(:website, "Project Website") %>
							<br>
							<%= f.text_field :website %>
							<br>
							<%= f.submit 'Update', class: "project-update-button" %>
						<% end %>
					</div>
						<%= form_for project, url: "/users/#{@user.id}/projects/#{project.id}", html: {method: :delete} do |f| %>
							<%= f.submit 'Delete', class: "delete-button" %>
						<% end %>
				</div>
			<%end%>	
		</div>

		<div class="clear-row"></div>

		<!-- Work Experience -->

		<div class="profile-experiences">
			<h2>Experience</h2>
			<div class="add-experience">
				<a class="add-button" href="">Add Experience</a>
				<div class="add-form" id="profile-experience-add">
						<%= form_for @experience, url: "/users/#{@user.id}/experiences", html: {method: :post} do |f| %>
							<%= label_tag(:role, "Role") %>
							<br>
							<%= f.text_field :role %>
							<br>
							<%= label_tag(:company_name, "Company Name") %>
							<br>
							<%= f.text_field :company_name %>
							<br>
							<%= label_tag(:start_date, "Start Date") %>
							<br>
							<%= f.date_field :start_date %>
							<br>
							<%= label_tag(:end_date, "End Date") %>
							<br>
							<%= f.date_field :end_date %>
							<br>
							<%= label_tag(:city, "City") %>
							<br>
							<%= f.text_field :city %>
							<br>
							<%= label_tag(:state, "State") %>
							<br>
							<%= f.text_field :state %>
							<br>
							<%= label_tag(:blurb, "Description") %>
							<br>
							<%= f.text_field :blurb %>
							<br>
							<%= f.submit 'Update', class: "experience-create-button" %>
						<% end %>
					</div>
			</div>
			<div class="new-experience"></div>
			<% @sorted_experiences.each do |exp|%>
				<div class="experience" data="<%=exp.id%>">
					<a class="edit-button" id="profile-experience-edit-button" href="">Edit</a>
					<h3><%=exp.role%></h3>
					<h4><%=exp.company_name%></h4>
					<h5><%=exp.start_date%> &mdash; <%=exp.end_date%> | <%=exp.city%>, <%=exp.state%></h5>
					<p><%= exp.blurb%></p>
					<!-- edit form -->
					<div class="edit-form" id="profile-experience-edit">
						<%= form_for exp, url: "/users/#{@user.id}/experiences/#{exp.id}", html: {method: :patch} do |f| %>
							<%= label_tag(:role, "Role") %>
							<br>
							<%= f.text_field :role %>
							<br>
							<%= label_tag(:company_name, "Company Name") %>
							<br>
							<%= f.text_field :company_name %>
							<br>
							<%= label_tag(:start_date, "Start Date") %>
							<br>
							<%= f.date_field :start_date %>
							<br>
							<%= label_tag(:end_date, "End Date") %>
							<br>
							<%= f.date_field :end_date %>
							<br>
							<%= label_tag(:city, "City") %>
							<br>
							<%= f.text_field :city %>
							<br>
							<%= label_tag(:state, "State") %>
							<br>
							<%= f.text_field :state %>
							<br>
							<%= label_tag(:blurb, "Description") %>
							<br>
							<%= f.text_field :blurb %>
							<br>
							<%= f.submit 'Update', class: "experience-update-button" %>
						<% end %>
					</div>
						<%= form_for exp, url: "/users/#{@user.id}/experiences/#{exp.id}", html: {method: :delete} do |f| %>
							<%= f.submit 'Delete', class: "delete-button" %>
						<% end %>
				</div>	
			<%end%>
		</div>

	</div>


	<!-- MUSTACHE TEMPLATES -->

	<script type="x-mustache" id="new-project-template">
	<div class="project" data={{id}}>
		<a class="edit-button" href="#">Edit</a>
		<br>
		<img class="project-image" src="{{image_src}}">
		<h3>{{title}}</h3>
		<p>{{desc}}</p>
		<a href="{{website}}">Click to Learn More</a>
		<!-- edit form -->
		<div class="edit-form" id="profile-project-edit">
			<form class="edit-project" id="edit_project_{{id}}" action="/users/{{user_id}}/projects/{{id}}" method="post">
				<input type="hidden" name="_method" value="patch">
				<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" >
				<input type="text" value="{{image_src}}" name="project[image_src]" id="project_image_src">
				<input type="text" value="{{title}}" name="project[title]" id="project_title">
				<input type="text" value="{{desc}}" name="project[desc]" id="project_desc">
				<input type="text" value="{{website}}" name="project[website]" id="project_website">
				<input type="submit" name="commit" value="Update" class="project-update-button">
			</form>
		</div>
	</div>
	</script>

	<script type="x-mustache" id="new-experience-template">
	<div class="experience" data={{id}}>
		<a class="edit-button" id="profile-experience-edit-button" href="">Edit</a>
		<h3>{{role}}</h3>
		<h4>{{company_name}}</h4>
		<h5>{{start_date}} &mdash; {{end_date}} | {{city}}, {{state}}</h5>
		<p>{{blurb}}</p>
		<!-- edit form -->
		<div class="edit-form" id="profile-experience-edit">
			<form class="edit-experience" id="edit_experience_{{id}}" action="/users/{{user_id}}/experiences/{{id}}" method="post">
				<input type="hidden" name="_method" value="patch">
				<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" >
				<input type="text" value="{{role}}" name="experience[role]" id="project_role">
				<input type="text" value="{{company_name}}" name="experience[company_name]" id="project_company_name">
				<input type="date" value="{{start_date}}" name="experience[start_date]" id="project_start_date">
				<input type="date" value="{{end_date}}" name="experience[end_date]" id="project_end_date">
				<input type="text" value="{{city}}" name="experience[city]" id="project_city">
				<input type="text" value="{{state}}" name="experience[state]" id="project_state">
				<input type="text" value="{{blurb}}" name="experience[blurb]" id="project_blurb">
				<input type="submit" name="commit" value="Update" class="experience-update-button">
			</form>
		</div>
	</div>
	</script>
</div>












