<!-- SIDE NAV -->

<div class="profile-side-nav" data="<%=@user.id%>">

<!-- Image -->

	<div class="profile-image">
		<img id="profile-image" src="<%=@user.image_src%>">
		<br>
		<a class="image-edit-button" id="profile-image-edit-button" href="">Edit Image</a>
		<!-- edit form -->
		<div class="hidden" id="profile-image-edit">
			<%= form_for @user do |f| %>
				<%= f.text_field :image_src %>
				<%= f.submit 'Update', class: "image-update-button" %>
			<% end %>
		</div>
	</div>

<!-- Contact Links -->

	<div class="profile-contact">
	<a class="edit-button" id="profile-contact-edit-button" href="">Edit</a>
	<% if @user.city%><h4><%=@user.city%><%end%><% if @user.state%>, <%=@user.state%><%end%></h4>
		<ul>
			<li><a href="mailto:<%=@user.email%>">Email Me</a></li>
			<% if @user.website %><li><a href="<%=@user.website%>">My Website</a></li><%end%>
			<% if @user.twitter %><li><a href="<%=@user.twitter%>">Tweet Me</a></li><%end%>
			<% if @user.github %><li><a href="<%=@user.github%>">GitHub</a></li><%end%>
			
			<% if @user.linkedin %><li><a href="<%=@user.linkedin%>">LinkedIn</a></li><%end%>
			<% if @user.behance%><li><a href="<%=@user.behance%>">Behance</a></li><%end%>
		</ul>
		<!-- edit form -->
		<div class="hidden" id="profile-contact-edit">
			<%= form_for @user do |f| %>
				<%= label_tag(:website, "Website link") %>
				<br>
				<%= f.text_field :website %>
				<br>
				<%= label_tag(:twitter, "Twitter link") %>
				<br>
				<%= f.text_field :twitter %>
				<br>
				<%= label_tag(:github, "Github link") %>
				<br>
				<%= f.text_field :github %>
				<br>
				<%= label_tag(:linkedin, "Linkedin") %>
				<br>
				<%= f.text_field :linkedin %>
				<br>
				<%= label_tag(:behance, "Behance") %>
				<br>
				<%= f.text_field :behance %>
				<br>
				<%= f.submit 'Update', class: "contact-update-button" %>
			<% end %>
		</div>
	</div>

</div>

<!-- MAIN AREA -->

<div class="profile-main">

<!-- User Basic Info -->

	<div class="profile-header">
		<a class="edit-button" id="profile-header-edit-button" href="">Edit</a>
		<h1><%= @user.f_name%> <%= @user.l_name%></h1>
		<h2><%= @user.role%> </h2>
		<h3><%=@user.bio%></h3>
		<!-- edit form -->
		<div class="hidden" id="profile-header-edit">
			<%= form_for @user do |f| %>
				<%= f.text_field :f_name %>
				<%= f.text_field :l_name %>
				<%= f.text_field :role %>
				<%= f.text_field :bio %>
				<%= f.submit 'Update', class: "header-update-button" %>
			<% end %>
		</div>

	</div>

	<!-- Skills -->

	<div class="profile-skills">
		<a class="edit-button" id="profile-skills-edit-button" href="">Edit</a>
		<h2>Skills</h2>
		<ul>
			<% @user.skills.each do |skill|%>
				<li><%=skill.name%></li><span><a class="delete-button hidden" id="profile-skill-delete-button" href="">Delete</a></span>
			<%end%>
		</ul>
		<!-- edit form -->
		
	</div>

	<!-- Projects -->

	<div class="profile-projects">
		<h2>Projects</h2>
		<% @user.projects.each do |project| %>
			<div class="project" data="<%=project.id%>">
				<a class="edit-button" id="profile-project<%=project.id%>-edit-button" href="">Edit</a>
				<img class="project-image" src="<%=project.image_src%>">
				<h3><%= project.title%></h3>
				<p><%= project.desc%></p>
				<a href="<%=project.website%>">Click to Learn More</a>
				<!-- edit form -->
				<div class="hidden" id="profile-project-edit">
					<form method="POST" action="/users/<%=@user.id%>/projects/<%=project.id%>">
						<input type="hidden" name="_method" value="PATCH">
						<input name="authenticity_token" type="hidden" value="token_value">
						<input type="text" name="title" value="<%=project.title%>">
						<input type="text" name="desc" value="<%=project.desc%>">
						<input type="text" name="website" value="<%=project.website%>">
						<input type="submit" value="Update" class="project-update-button">
					</form>
				</div>
			</div>
			
		<%end%>
		
	</div>

	<!-- Work Experience -->

	<div class="profile-experiences">
		<h2>Experience</h2>
		<% @user.experiences.each do |exp|%>
			<div class="experience" data="<%=exp.id%>">
				<a class="edit-button" id="profile-experience-edit-button" href="">Edit</a>
				<h3><%=exp.role%></h3>
				<h4><%=exp.company_name%></h4>
				<h5><%=exp.start_date%> &mdash; <%=exp.end_date%> | <%=exp.city%>, <%=exp.state%></h5>
				<p><%= exp.blurb%></p>
			</div>
			<!-- edit form -->
			<div class="hidden" id="profile-experience-edit">
				
			</div>
		<%end%>
	</div>


</div>