<h1>Job Candidates</h1>
<div class = "filter-container profile-side-nav">
<span>Filter candidates by skill</span>
	<form name="skill-list">
		<% @skills.each do |skill| %>
		<label for="<%= skill.name %>"><%= skill.name %></label>
		<input type="checkbox" name="<%= skill.param %>" value="<%= skill.id %>">
		<br>
		<% end %>
	</form>
</div>
<div class="profile-main">
<div id="listings"></div>
<script id="template" type="x-tmpl-mustache">
	{{#users}}
			<div class="tags{{#skills}} {{param}}{{/skills}}">
				<h2>{{f_name}} {{l_name}}
				</h2>
				<h3>Candidates Skills:
					<span>
							{{#skills}}
								{{name}}
							{{/skills}}
					</span>
				</h3>
				<!-- css needed to trim the blurb -->
				<a href="/users/{{id}}">Candidates Profile</a>
				<br>
				</div>
	{{/users}}
</script>
</div>
<script>
	var data = {users :<%=raw @users.to_json(:include => :skills)%>}
</script>

<%= javascript_include_tag("footer") %>