<div class = "filter-container">
<span>Filter this list by skill</span>
	<form name="skill-list">
		<% @skills.each do |skill| %>
		<label for="<%= skill.name %>"><%= skill.name %></label>
		<input type="checkbox" name="<%= skill.name %>" value="<%= skill.id %>">
		<br>
		<% end %>
	</form>
</div>
<div id="listing-container"></div>
<script id="jobs-template" type="x-tmpl-mustache">
	{{#jobs}}
			<div class="{{#skills}}{{name}}{{/skills}}">
				<h1>{{title}}</h1>
				<h3>Required Skills:
					<span>
							{{#skills}}
								{{name}}
							{{/skills}}
					</span>
				</h3>
				//css to hide the blurb
				<p class="blurb">{{desc}}</p><a href="/jobs/{{id}}">Read More</a>
				<br>
				</div>
	{{/jobs}}
</script>

<script>
//json list of jobs
var jobs = {jobs :<%=raw @jobs.to_json(:include => :skills) %>}

// select all the checkboxes on the page and check their status
//Hide the unchecked and show the checked
//if none are checked show all jobs
var showChecked = function(){
	checkbox = $('input[type=checkbox]')
	if ($( "input:checked" ).length !== 0){
		for (var i = 0; i < checkbox.length; i++){
			if (checkbox[i].checked == false){
				$('.'+checkbox[i].name).hide()
			} else {
				$('.'+checkbox[i].name).show()
			}
		} 
	} else {
		for (var i = 0; i < checkbox.length; i++){
			$('.'+checkbox[i].name).show()
		}
	}
}	

//rendering the job list to the page
var renderJobs = function(jobList){
	$('#listing-container').text('')
	var template = $('#jobs-template').html()
	var render = Mustache.render(template, jobs)
	$('#listing-container').append(render)
}

renderJobs(jobs)

//When a checkbox is changed, the page updates
$("input[type=checkbox]").on('change',function(event){
	showSkill = event.target.name
	showChecked()
});
</script>