<img class="sign-up-image" src="<%= asset_path 'man-notes-macbook-computer.jpg' %>">
<div class="login">

	<h1>Employer<br>Sign-up</h1>
	<%= form_for @user do |f| %>
	<br>
	<%= f.label "Company Name" %><br>
	<%= f.text_field :org_name %><br>

	<%= f.label "Email" %><br>
	<%= f.text_field :email %><br>

	<%= f.label "Password" %><br>
	<%= f.password_field :password %><br>

	<%= hidden_field_tag :user_type, 'employer'  %><br>

	<%= f.submit 'New Employer', class: "login-submit new-user-button"%>

	<% end %>

</div>