<div class="home-main-content">
	<div class="fade fade-in-2">
		<img class="logo-home spin-gear" src="<%= asset_path 'logo1-2.png' %>">
		<img class="logo-home fade" src="<%= asset_path 'logo2-2.png' %>">
	</div>
	<img class="desk-image-home fade fade-in-1 " src="<%= asset_path 'home-desk-image.jpg'%>">
	<div class="welcomes-text ">
		<h2>Welcome to the Generic Constructor users portal!</h2>
		<h3>Search for students and find jobs by skill type.</h3>
	</div>

</div>

<div class="home-bottom-boxes ">

	<div class="home-bottom-box col-sm-6">
		
		<a class="signup button" href="users/new/employer"><img src="<%= asset_path 'sm-man-notes-macbook-computer.jpg' %>"><br>Register as an Employer</a>
	</div>

	<div class="home-bottom-box col-sm-6">
		
		<a class="signup button" href="users/new/student"><img src="<%= asset_path 'sm-man-people-office-writing.jpg'%>"><br>Register as a Student</a>
	</div>

	

</div>